<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.\SQL2008;Initial Catalog=UFTData612465_000001;User ID=sa;password=123"/>
    <add key="WsUrl" value="http://localhost:801/Service.asmx"/>
    <add key="Method" value="BuildSaleDelivery"/>
    <add key="MethodPO" value="PurchaseOrder"/>
  </appSettings>
</configuration>